<a href="https://colab.research.google.com/github/Nagarjunasagar/Twitter_Data/blob/master/twitter_data_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot
import seaborn as sns
from openpyxl import load_workbook
from openpyxl import Workbook
from openpyxl.styles import Alignment, Font, Border, Side, PatternFill
from openpyxl.utils import get_column_letter

Create a Dataframe for Social Media_Activity Sheet

In [31]:
df = pd.read_excel('/content/drive/MyDrive/knovatic/Datasets/DOL_US_190_FP_FINAL.xlsx',  sheet_name = 'Social Media_Activity')

In [32]:
print(df.shape)
df.head()

(33546, 10)

            KOL ID             KOL Name  ... Key Topic Bucket
0  KOL_DOL_US_2203         Farzana Arab  ...       NaN    NaN
1  KOL_DOL_US_2203         Farzana Arab  ...       NaN    NaN
2  KOL_DOL_US_2203         Farzana Arab  ...       NaN    NaN
3  KOL_DOL_US_2204  Albert Qi Bang Chow  ...       NaN    NaN
4  KOL_DOL_US_2205           Orly Leiva  ...       NaN    NaN

[5 rows x 10 columns]

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33546 entries, 0 to 33545
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   KOL ID                      33546 non-null  object
 1   KOL Name                    33546 non-null  object
 2   Social Media Article        33530 non-null  object
 3   Social Media Article URL's  33530 non-null  object
 4   Publish Date                33530 non-null  float64
 5   Other Topic                 33530 non-null  object
 6   Number of Views/Comments    33529 non-null  float64
 7   Social Media URL's          0 non-null      float64
 8   Key Topic                   0 non-null      float64
 9   Bucket                      0 non-null      float64
dtypes: float64(5), object(5)
memory usage: 2.6+ MB

In [34]:
df['KOL Name'].value_counts().head(20)

Zachary Scott Wallace            587
Pravir Viral Baxi                560
Samira Sophia Farouk             546
Suleman Bhana                    532
Joseph Alfred Vassalotti         521
Nathaniel Cantey Reisinger       518
Jilaine M. Bolek Berquist        511
Sophia Louise Ambruso            509
Sandra Mara Soares               500
Tejas Pradeep Desai              500
Nirupama Ramkumar                482
David Chung Lee                  472
Anitha Vijayan                   470
Juan Carlos Q Velez              461
Sai Sudha Mannemuddhu            439
Tuhina Neogi                     439
Manisha Singh                    432
Keith Evan Stockerl-Goldstein    428
Eugene Wesley Ely                427
Salim Shahbuddin Virani          418
Name: KOL Name, dtype: int64

In [35]:

df['Social Media Article'].str.contains('covid').value_counts()

False    32691
True       839
Name: Social Media Article, dtype: int64

In [40]:

medical_terms = ['covid','cardio',]

df_1 = df[~df['Social Media Article'].isin(medical_terms)]

In [41]:
df_1.shape

(33546, 10)